*{
    margin: 0;
    font-family: "Gucci Sans Pro", Helvetica, Arial, sans-serif;
    border: border-box;
}
body{
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:white;
    height: 65px;
    width: 100%;
}
.box{
    font-size: 12px;
    color: #000000;
    font-weight: 500;
}
.nav-logo{
    display: flex;
    justify-content: center;
    height: 72px;
    width: 60%;
}
.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 142px;
}

.search-icon{
    padding-right: 15px;
    font-size: 15px;
}
.menu{
    padding-right: 3px;
    font-size: 15px;
}
.hero{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(p1.webp);
    background-size: cover;
    height: 700px;
    width: 100%;
}
.trans{
    height: 200px;
    width: 100%;
}
.trans .msg{
    display: flex;
    align-items: start;
    justify-content: center;
}
.trans .mm{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}
.trans .mm:hover{
    transform: scale(0.95);
}
.mm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    height: 45px;
    width: 110px;
    background-color: #ffffff;
    border-radius: 2px;
    
}
.msg{
    margin: 19px;
    font-size: 24px;
    font-weight: 100;
    color: white;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.header p {
    margin: 0;
    font-size: 28px;
    color: #000000;
}

.gallery1 {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.gallery-item1 {
    margin: 10px;
    text-align: center;
    flex-basis: 250px;
}

.gallery-item1 img {
    width: 100%;
    height: 350px;
    max-width: 320px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}
.gallery-item1 img:hover{
    transform: scale(0.95);
}
.gallery2 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.gallery-item {
    text-align: center;
    flex-basis: 605px;
}
.gallery-item img {
    border-radius: 2px;
    width: 100%;
    height: 800px;
    max-width: 100%;   
}
.label {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}
.gallery3{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 10px;
    width: 100%;
    height: auto;
}
.gallery-item3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
video{
    width: 100%;
}
.gallery-item3 tt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ttt{
    display: block;
}
.gallery-item3 .p1{
    font-size: 30px;
}
.gallery-item3 .p2{
    text-align:justify;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.gallery-item3 a{
    margin-left: 35%;
    font-size: 12px;
    color: black;
    font-weight:bold;
}
.footer-panel1{
    display:flex;
    justify-content: center;
    align-items: center; 
   background-color: #000000;
    height: 325px;
    width: 100%;
    color: #ffffff;
    
}
.panel11{
    display: block;
    height: 200px;
    width: 60%;
    
}
.p1{
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}
.p2{
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}
.p3{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}
.footer-panel2{
    display: flex;
    background-color: #000000;
    justify-content: space-evenly;
    color: white;
    height: 350px;
}
ul{
    margin-top: 60px;
}
ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}
.footer-panel3{
    height: 16px;
    background-color: #000000;
    color: white;
    padding-left: 80px;
    font-size: 12px;
}
.footer-panel4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 300px;
    width: 100%;
    
}
.last{
    height: 190px;
    width: 90%;
    background-size: cover;
}